<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlUsuarioProyecto.Properties.Settings.Conexion"
            connectionString="Data SourC =C:\Users\sagar\OneDrive\Escritorio\copiaDelaCopia\ProyectoDeGrupo\ProyectoBiblioteca\Biblioteca.db =  version = 3" />
    </connectionStrings>
</configuration>